$sidebar-width: 250px;
$layout-breakpoint-large: 900px;
$layout-breakpoint-small: 450px;
$header-height: 80px;

// Colors
$color-bg: #fffcf5;
$color-text: #736f68;
$color-header-bg: #a59e94;
$color-link: #eb5e28;
$color-link-hover: #b33c12;
$color-title-teal: #68b3c8;
$color-tag-teal: #7a9e9f;
$color-tag-teal-hover: #427c89;
$color-separator: #F1EAE0;
$color-code-bg: #fdf6e3;
