@import "../variables.module.scss";

.post {
  overflow: hidden;
  overflow-wrap: break-word;

  :global {
    .gatsby-resp-image-background-image,
    .gatsby-resp-image-image,
    .gatsby-resp-image-wrapper {
      border-radius: 8px;
      box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    }

    .gatsby-highlight pre[class*="language-"].line-numbers {
      padding-left: 2.8em;
    }

    .gatsby-highlight-code-line {
      display: block;
      margin-left: -1em;
      margin-right: -1em;
      padding-left: 0.75em;
      padding-right: 1em;
      background-color: #feb;
      border-left: 0.25em solid #f99;
    }

    /**
     * Add back the container background-color, border-radius, padding, margin
     * and overflow that we removed from <pre>.
     */
    .gatsby-highlight {
      margin: 0.5em 0;
      padding: 1em;
      background-color: #fdf6e3;
      border-radius: 0.3em;
      overflow: auto;
    }

    /**
     * Remove the default PrismJS theme background-color, border-radius, margin,
     * padding and overflow.
     * 1. Make the element just wide enough to fit its content.
     * 2. Always fill the visible space in .gatsby-highlight.
     * 3. Adjust the position of the line numbers
     */
    .gatsby-highlight pre[class*="language-"] {
      float: left; /* 1 */
      margin: 0;
      padding: 0;
      background-color: transparent;
      overflow: initial;
      min-width: 100%; /* 2 */
    }

    .gatsby-highlight pre[class*="language-"].line-numbers {
      padding: 0;
      padding-left: 2.8em;
      overflow: initial;
    }

    .line-numbers-rows {
      border-right: 1px dashed lightgrey;
    }
    .command-line-prompt {
      border-right: none;
    }

    .command-line-prompt > span:before {
      display: block;
      padding-right: 0.8em;
      color: #999;
      content: " ";
    }

    /* Prompt for all users */
    .command-line-prompt > span[data-user]:before {
      content: "[" attr(data-user) "@" attr(data-host) "] $";
    }

    /* Prompt for root */
    .command-line-prompt > span[data-user="root"]:before {
      content: "[" attr(data-user) "@" attr(data-host) "] #";
    }

    .command-line-prompt > span[data-prompt]:before {
      content: attr(data-prompt);
    }
  }

  h1 {
    margin: 0 auto 0.5em auto;
    font-size: 3.5em;
    font-weight: 300;
    line-height: 1.1em;
    text-align: center;

    @media screen and (min-width: $layout-breakpoint-large) {
      font-size: 4.5em;
    }
  }
  h2 {
    margin-bottom: 0.5em;
    font-size: 2.5em;
    font-weight: 200;
    line-height: 1em;

    @media screen and (min-width: $layout-breakpoint-large) {
      font-size: 3em;
    }
  }
  h3 {
  }
  h4 {
    font-size: 1.5em;
    font-weight: 200;
  }
  h5 {
  }
  h6 {
  }
  p {
    font-weight: 300;
    text-align: justify;
  }
  a {
    color: #eb5e28;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.2s;
    &:hover {
      color: #b33c12;
    }
  }
  em {
  }
  strong {
  }
  blockquote {
    margin: 0 0 20px;
    padding: 10px 20px;
    border-left: 5px solid #eee;

    p {
      margin: 0;
    }
  }

  figcaption {
    margin: 1em 0 3em 0;
    font-weight: 500;
    text-align: center;
  }
}
