.button {
  color: white;
  border: none;
  border-radius: 1000px;
  box-shadow: none;
  font-weight: 100;
  cursor: pointer;
  transition: background-color 0.3s;
}

.teal {
  background-color: #7a9e9f;
  &:hover {
    background-color: #427c89;
  }
}

.orange {
  background-color: #eb5e28;
  &:hover {
    background-color: #b33c12;
  }
}

.not-clickable {
  pointer-events: none;
}

$size-s: 2em;
$size-m: 3em;

.size-m {
  height: 10em;
  // todo
}

.size-s {
  height: $size-s;
  font-size: 0.8rem;
  line-height: $size-s;
}
