{{ define "main" }}
<ul class="posts">
  {{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts") }}
  {{ range $paginator.Pages }}
  <li class="post-entry">
    <ul class="tags">
      {{ range .Params.tags }}
      <li>
        <span class="button button-teal button-s button-not-clickable">{{ upper . }}</span>
      </li>
      {{ end }}
    </ul>
    <a href="{{ .RelPermalink }}">
      <h3>{{ .Title }}</h3>
      <p>
        <span>{{ math.Round (div (countwords .Content) 265.0) }} min read</span>
        - <span>{{ partial "ordinal-date.html" .Date }}</span>
      </p>
      {{ $hero := .Resources.GetMatch "hero.*" }}
      {{ with $hero }}
      <div class="post-img-wrapper">
        <img class="post-img" src="{{ .RelPermalink }}" alt="{{ $.Title }}">
      </div>
      {{ end }}
      {{ $excerpt := .Summary | plainify | htmlUnescape }}
      {{ if $excerpt }}
      <p class="post-excerpt">{{ $excerpt | replaceRE "\\s*…\\s*$" "" | replaceRE "\\s*\\.\\.\\.$" "" | truncate 200 " . . ." }}</p>
      {{ else }}
      <p class="post-excerpt">. . .</p>
      {{ end }}
    </a>
  </li>
  {{ end }}
</ul>

{{ if gt $paginator.TotalPages 1 }}
<div class="pagination">
  {{ if $paginator.HasPrev }}
  <a class="pagination-link" href="{{ $paginator.Prev.URL }}">
    <span class="pagination-arrow-prev"><svg xmlns="http://www.w3.org/2000/svg" width="0.75em" height="0.75em" viewBox="0 0 256 512" fill="currentColor"><path d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"/></svg></span> Newer posts
  </a>
  {{ else }}
  <div></div>
  {{ end }}

  {{ if $paginator.HasNext }}
  <a class="pagination-link" href="{{ $paginator.Next.URL }}">
    Older posts <span class="pagination-arrow-next"><svg xmlns="http://www.w3.org/2000/svg" width="0.75em" height="0.75em" viewBox="0 0 256 512" fill="currentColor"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/></svg></span>
  </a>
  {{ else }}
  <div></div>
  {{ end }}
</div>
{{ end }}
{{ end }}
