@import "../variables.module.scss";

body {
  margin: 0;
  font-weight: 300;
}
* {
  box-sizing: border-box;
}

.sandbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .sidebar {
    // border: 1px solid red;
    width: $sidebar-width;
  }
}

.bullet-points {
  h2 {
    text-align: center;
    font-size: 1.5em;
  }
  ul {
    padding: 0 10px 0 30px

    li + li {
      margin-top: 10px;
    }
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
