.button {
  color: white;
  box-shadow: none;
  border: none;
  border-radius: 1000px;
}

.teal {
  background-color: teal;
}

.orange {
  background-color: #EB5E28;
}

.size-m {
  height: 2em;
}

.size-s {
  height: 2em;
  font-size: 0.8rem;
}
