@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i&display=swap");
@import "../variables.module.scss";

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  // color: #66615b
  color: #736f68;
  background-color: #fffcf5;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5em;
}

p {
  line-height: 1.5em;
}

.layout {
  display: flex;
  max-width: 1150px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.header-container {
  width: 100%;
  background-color: #a59e94;
  z-index: 1;
}

.header {
  display: flex;
  width: 100%;
  max-width: 1300px;
  height: $header-height;
  margin: auto;
  padding: 0 1.5em;
  color: white;
  line-height: $header-height;
  align-items: baseline;
  justify-content: space-between;

  h1 {
    height: 100%;
    margin: 0;
    font-size: 1.2em;
    font-weight: 400;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}

.main {
  width: 100%;
  margin: 25px 20px;
  min-width: 40%;
}

@media screen and (min-width: $layout-breakpoint-small) {
  .main {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: $layout-breakpoint-large) {
  .layout {
    padding-top: $header-height;
    flex-wrap: nowrap;
  }

  .header-container {
    position: fixed;
    top: 0;

    h1 {
      font-size: 2em;
    }
  }

  .main {
    margin-left: 50px;
    margin-right: 50px;
  }
}
