.posts {
  padding: 0;
  list-style: none;

  a {
    color: inherit;
    text-decoration: unset;
  }
}

.post {
  margin-bottom: 2em;
  text-align: center;

  h3 {
    width: 85%;
    margin: 10px auto 0 auto;
    color: #68b3c8;
    font-size: 2em;
    font-weight: 200;
    line-height: 1.3em;
  }
  h3 + p {
    margin-top: 0.2em;
  }
}
.post + .post::before {
  display: block;
  height: 1px;
  margin: 0 3em;
  margin-bottom: 2em;
  background-color: #f1eae0;
  content: "";
}
.post:last-child {
  padding-bottom: 0;
}
.post-excerpt {
  margin-top: 2.5em;
}
.post-excerpt::after {
  content: " . . .";
}

.post-img {
  position: relative;
  width: 90%;
  height: 250px;
  margin: auto;
  box-shadow: 0 2px 2px #ccc5b980;
  overflow: visible !important;

  div {
    padding: 0 !important;
  }
}
.post-img::before {
  position: absolute;
  display: block;
  background-image: url("https://static.tumblr.com/i21wc39/coTmrkw40/shadow.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 0;
  content: "";
  bottom: -12%;
  left: -12%;
  right: 0;
  top: 0;
  transition: all 0.2s;
}
.post-img:hover::before {
  transform: scale(1.05) translate(10px, 0px);
}

.tags {
  display: flex;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;

  > * {
    margin: 0.2em 0.2em;
  }
}

.pagination {
  display: flex;
  margin-top: 3em;
  font-size: 1.5em;
  justify-content: space-between;
}

.pagination-link {
  color: unset;
  text-decoration: unset;
}

.previous,
.next {
  transition: all 0.3s;
}
.previous {
  vertical-align: -0.15em;
}
.next {
  vertical-align: -0.25em;
}
.pagination-link:hover .previous {
  transform: translateX(-0.5em);
}
.pagination-link:hover .next {
  transform: translateX(0.5em);
}
