<div class="about-me">
  <h2>About me</h2>
  <a href="/about">
    <img class="profile-picture" src="/images/profile_picture.jpeg" alt="Flo Kempenich" width="190" height="190">
  </a>
  <p>My name is <strong>Flo</strong>, and I am the <strong>Professional Beginner</strong>.<br>
  I apply the <em>"Beginner's Mind"</em> to the world of Software and share on this blog what I learn
  throughout my Journey.<br>
  My focus is on <strong>Software Crafting</strong>. That is an emphasis on <strong>readable code</strong>, made reliable by
  <strong>tests</strong>, and a desire to collaborate with those who love to <strong>learn</strong>, and <strong>share</strong> teachings of
  their own.</p>
  <a href="/about" class="button button-orange button-s about-me-read-more">Read More</a>
</div>
